.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFE7F6;
  }
  
  .spacer {
    height: 2vw;
  }
  
  .m-spacer {
    height: 1vw;
  }
  
  .p-spacer {
    height: 0.5vw;
  }
  
  acc {
    color: #FFB0E2;
    font-weight: bold;
    font-size: 1vw;
  }
  
  pacc {
    color: #FFB0E2;
    font-weight: bold;
    font-size: 0.9vw;
  }
  
  a {
    color: #FFB0E2;
    font-style: italic;
    text-decoration-line: none;
    font-weight: bold;
    font-size: 1vw;
  }
  